<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="actor" class="com.stackroute.domain.Actor">
        <constructor-arg index="0" value="prathyu"/>
        <constructor-arg name="gender" value="female"/>
        <constructor-arg name="age" value="22" type="int"/>

    </bean>
    <!--<bean id="movie" class="com.stackroute.domain.Movie" autowire="byType" >

    </bean>-->
    <bean id="movie" class="com.stackroute.domain.Movie" autowire="byName" >

    </bean>
    <bean id="movie1" class="com.stackroute.domain.Movie" >
       <constructor-arg name="actor" ref="actor"></constructor-arg>
    </bean>

</beans>